
.fonttopfoot{
    font-family: 'Montserrat Alternates', sans-serif;
    color:black!important;
    font-size: 0.8rem;
}

.fontmenu{
    font-family: 'Montserrat Alternates', sans-serif;
    color:black!important;
}

hr{
    color:darkgoldenrod;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    margin-bottom: 0px;;
    width:85%;
    
}

.legendephoto{
    font-family: 'Raleway', sans-serif;
    font-size:80%;
    color:darkgrey;
}

.textelong{
    font-family: 'Raleway', sans-serif;
    font-size:90%;
}

.erreur{
    color:saddlebrown!important;
}

.icones{
    color:saddlebrown;
    font-size:100%;
}

.iconesbig{
    color:saddlebrown;
    font-size:140%;
}
/* style pour créer les miniatures carrés des designers */
.thumbnail-container{
    width:300px;
    height:300px;
  }  
img.thumbnail{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
  }



